@charset "utf-8";
@import 'theme/layout.css';

/* section calendar */

.rap {
  max-width: 820px;
  padding: 0 1.4rem;
  margin-top: 0.3rem;
}

.dateHead {
  margin-bottom: 0.4rem;
}

.dateHead div {
  background: #fff;
  color: #333;
  text-align: center;
  font-weight: bold;
}

/* 토요일 일요일표시 */
.dateHead .day:nth-child(7n-1) {
  color: blue;
}
.dateHead .day:nth-child(7n) {
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid div {
  padding: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 6rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid #222222;
}

.noColor {
  background: #b4b4b4;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.btn {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  cursor: pointer;
}

.prevDay {
  transform: rotate(-135deg);
}

.nextDay {
  transform: rotate(45deg);
}

.dateBoard div p {
  font-weight: normal;
  margin-top: 0.2rem;
}
